@{
    ViewBag.Title = "Підтвердження забутого паролю";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Будь-ласка, перевірте свою електронну пошту, щоб скинути свій пароль.
    </p>
</div>
	
