@{
    ViewBag.Title = "Підтвердження скидання паролю";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль скинуто. Буль-ласка @Html.ActionLink("натисніть тут, щоб увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
