body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p, li {
    text-align: justify;
}

/*ol li div.li {
    display: inline;
}*/

ol {
    counter-reset: item;
    padding-left: 0px;
}

    ol li {
        display: block;
    }

        ol li:before {
            content: counters(item,"." ) ". ";
            counter-increment: item;
        }

        ol li h5 {
            display: inline-block;
            text-decoration: underline;
        }

ul li:before {
    content: none;
}

.regulation-menu {
    background: #080808;
    position: fixed;
    width: 390px;
    left: -370px;
    top: 100px;
    transition: left 0.5s ease-out 0.0s;
}

    .regulation-menu:hover {
        left: 0px;
    }

    .regulation-menu a {
        margin: 5px 10px;
        text-decoration: none;
        padding: 3px;
        display: block;
        color: #999999;
        /*background: rgba(0, 0, 0, 0.40);*/
        background: linear-gradient(to left, #080808 50%, rgba(159, 38, 38, 0.40) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 0.3s ease-out 0.0s, color 0.3s ease-out 0.0s;
    }

        .regulation-menu a:hover {
            /*background: rgba(159, 38, 38, 0.40);*/
            color: #dc1010;
            background-position: left bottom;
        }

.anch {
    height: 50px;
}

.btn-uksl {
    background: #080808;
    margin: 0px;
    padding: 0px;
    /*height: 40px;*/
    /*color: #999999;*/
    /*background-size: 200% 100%;*/
    /*background-position: right bottom;*/
    /*transition: background-position 0.5s ease-out 0.0s, color 0.5s ease-out 0.0s;*/
}
    .btn-uksl:hover {
        background: #080808;
        /*color: #999999;*/
        /*background-size: 200% 100%;*/
        /*background-position: right bottom;*/
        /*transition: background-position 0.5s ease-out 0.0s, color 0.5s ease-out 0.0s;*/
    }

    .btn-uksl span {
        display: block;
        background: #080808;
        line-height: 40px;
        color: #999999;
        /*background-position: left bottom;*/
    }

        .btn-uksl span:hover {
            color: #dc1010;
            /*background-position: left bottom;*/ background: rgba(159, 38, 38, 0.40);
        }
.date-picker:hover {
    cursor: pointer;
}
.ui-autocomplete-loading {
    background: white url("Images/Dual_Ring-1s-16px.gif") right center no-repeat;
}