body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p, li {
    text-align: justify;
}

/*ol li div.li {
    display: inline;
}*/

ol {
    counter-reset: item;
    padding-left: 0px;
}

    ol li {
        display: block;
    }

        ol li:before {
            content: counters(item,"." ) ". ";
            counter-increment: item;
        }

        ol li h5 {
            display: inline-block;
            text-decoration: underline;
        }

ul li:before {
    content: none;
}

.university-list {
    background: #080808;
    position: fixed;
    width: 190px;
    left: -145px;
    top: 130px;
    transition: left 0.5s ease-out 0.0s;
    z-index:99;
}

    .university-list:hover {
        left: 0px;
    }

    .university-list p {
        margin: 5px 10px;
        text-decoration: none;
        padding: 3px;
        display: block;
        color: #999999;
        /*background: rgba(0, 0, 0, 0.40);*/
        background: linear-gradient(to left, #080808 50%, rgba(159, 38, 38, 0.40) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 0.3s ease-out 0.0s, color 0.3s ease-out 0.0s;
    }

    .university-list p:hover {
        /*background: rgba(159, 38, 38, 0.40);*/
        color: #dc1010;
        background-position: left bottom;
    }

.university-list-header {
    color: #999999;
    /*position:relative;*/
    float: left;
    width: 40px;
    height: 200px;
}

    .university-list-header span {
        transform: rotate(-90deg);
        white-space: nowrap;
        line-height: 200px;
        display: block;
        position: absolute;
        bottom: 0%;
        left: 52%;
    }

.university-list-body {
    /*position: relative;*/
    float: left;
    width: 150px;
}

.anch {
    height: 50px;
}

.btn-uksl {
    background: #080808;
    margin: 0px;
    padding: 0px;
    /*height: 40px;*/
    /*color: #999999;*/
    /*background-size: 200% 100%;*/
    /*background-position: right bottom;*/
    /*transition: background-position 0.5s ease-out 0.0s, color 0.5s ease-out 0.0s;*/
}
    .btn-uksl:hover {
        background: #080808;
        /*color: #999999;*/
        /*background-size: 200% 100%;*/
        /*background-position: right bottom;*/
        /*transition: background-position 0.5s ease-out 0.0s, color 0.5s ease-out 0.0s;*/
    }

    .btn-uksl span {
        display: block;
        background: #080808;
        line-height: 40px;
        color: #999999;
        /*background-position: left bottom;*/
    }

        .btn-uksl span:hover {
            color: #dc1010;
            /*background-position: left bottom;*/ background: rgba(159, 38, 38, 0.40);
        }
.date-picker:hover {
    cursor: pointer;
}
/*.ui-autocomplete-loading {
    background: black url("Images/Dual_Ring-1s-16px.gif") right center no-repeat;
}*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 200px;
}


.ui-tabs-vertical {
    width: 55em;
}

    .ui-tabs-vertical .ui-tabs-nav {
        padding: .2em .1em .2em .2em;
        float: left;
        width: 12em;
    }

        .ui-tabs-vertical .ui-tabs-nav li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }

            .ui-tabs-vertical .ui-tabs-nav li a {
                display: block;
            }

            .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                padding-bottom: 0;
                padding-right: .1em;
                border-right-width: 1px;
            }

    .ui-tabs-vertical .ui-tabs-panel {
        padding: 1em;
        float: right;
        width: 40em;
    }