@{
    ViewBag.Title = "Наші контакти";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br>
<address>
    @*One Microsoft Way<br />
    Redmond, WA 98052-6399<br />*@
    <strong>Тел:</strong>
    +38 097 310 91 04
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />*@
    <strong>Email:</strong> <a href="mailto:uksl.gaming@gmail.com">uksl.gaming@gmail.com</a>
</address>