@{
    ViewBag.Title = "УКСЛ";
}
@Styles.Render("~/Content/news.css")
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/Content/images/logo-alibaba.png">
                <div class="carousel-caption">
                    <h4><a href="#news0">Alibaba просуває кіберспорт на Олімпіаду</a></h4>
                    <p>Отже, новина полягає в наступному: у кіберспорту в якості олімпійського виду спорту з'явився потужний лобіст в особі китайської корпорації Alibaba Group.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/CSGO-Wallpaper.jpg">
                <div class="carousel-caption">
                    <h4><a href="#news1">Особливі налаштування NVIDIA дозволяли бачити крізь дим</a></h4>
                    <p>Днями користувачі reddit стали активно обговорювати функцію NVIDIA Freestyle для однойменних відеокарт. Її можна було налаштувати особливим чином, щоб бачити крізь димові гранати. Freestyle можна було користуватися два місяці, і про неї знали про-гравці. Тепер NVIDIA Freestyle більше не підтримує CS: GO. Про те, що сталося - в нашому матеріалі.</p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <img src="~/Content/images/Steam.jpg">
                <div class="carousel-caption">
                    <h4><a href="#news2">Як пройшов 2017 рік у Steam</a></h4>
                    <p>Засновник SteamSpy Сергій Галенкін підготував звіт про продажі і активності користувачів в Steam за 2017 рік. За його даними, в минулому році в сервісі зареєструвалося 63 млн осіб - 22% від загального числа акаунтів.</p>
                </div>
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->

        <ul class="list-group col-sm-4">
            <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Alibaba просуває кіберспорт на Олімпіаду</h4></li>
            <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Особливі налаштування NVIDIA дозволяли бачити крізь дим. Зараз цю функцію відключили</h4></li>
            <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Як пройшов 2017 рік у Steam</h4></li>
        </ul>
        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div><!-- End Carousel -->
    <br />
    <hr />
    <div>
        <div id="news0">
            <h2>
                Alibaba просуває кіберспорт на Олімпіаду
            </h2>
            <p>
                Отже, новина полягає в наступному: у кіберспорту в якості олімпійського виду спорту з'явився потужний лобіст в особі китайської корпорації Alibaba Group. Глава спортивного підрозділу компанії (називається AliSports) заявив, що корпорація підтримує включення кіберспорту в програму ОІ та буде рада допомогти в цій благородній справі (читай «пролобіювати це рішення»). Особливо важливо тут те, що це не черговий популізм і голослівні заяви. Alibaba Group є офіційним спонсором ОІ до 2028 року і володіє всіма необхідними ресурсами і важелями впливу, щоб домогтися свого рішення.
            </p>
            <p>
                Але є не менш важливі і цікаві нюанси. Мотивуючи тим, що за час спілкування з Міжнародним олімпійським комітетом Alibaba стала краще розуміти його ідеали, головний з яких звучить як «мир у всьому світі» (переклад вільний), корпорація ратує не за весь кіберспорт цілком, а лише за окремі його дисципліни. У вигляді - увага - спортивних симуляторів, таких як футбольні, баскетбольні та гоночні.
            </p>
            <p>
                Наступний нюанс полягає в тому, що це болючий укол (читай «перо під ребро») іншому китайському гігантові в особі корпорації Tencent. Саме вона є власником розробника найпопулярнішою киберспортівной гри в світі в особі League of Legends, яка саме виходячи зі своєї популярності може претендувати на включення в програму ОІ. Ми не знаємо, де в цій грі з абсолютно мультяшної графікою можна знайти «насильство і вбивство» (о, як же на її тлі жорстокі «Том і Джеррі» і «Ну, постривай!»), Але впевнені, що, як і з допінгом, це залежить тільки від того, хто шукає.
            </p>
            <p>
                Під кінець Alibaba заявляє, що ігроробів на час ОІ повинні безкоштовно ділитися з організаторами правом інтелектуальної власності на свої ігри, і відбиратися гри (+ коригуватися правила проведення змагань) повинні щорічно, а не раз на чотири роки. Завершує свій виступ Alibaba потужним аперкотом всім конкурентам: «Ми, як організатор змагань, при цьому не є ігроробів, більше підходимо під принципи ОІ, головним з яких є справедливість (від ред.: агов, а де ж «мир у всьому світі»? ). А якщо ви є виробником або видавцем гри, то ви за замовчуванням підозрюєтеся в лобіюванні своїх ігор на ОІ виключно заради вигоди». (Від ред.: у нас вже не вистачає сарказму коментувати це твердження).
            </p>
            <p>
                Прогнозуємо продовження цікавої сутички між двома титанами - з фланговими атаками, заходами в тил і партизанською війною. Наприклад, буквально днями Tencent інвестував близько $ 1 млрд в дві китайські стрімінговие платформи Huya & Douyu. А Alibaba ДОПОВНЕНО весь світ під твіти учасників організованого їй фіналу ігор WESG про тарганів і щурів в номерах. У найцікавіші часи живемо, панове...
            </p>
            <p>
                Джерело: Telegram-канал "Кіберспорт | Індустрія"
            </p>
        </div>
        <div id="news1">
            <h2>
                Особливі налаштування NVIDIA дозволяли бачити крізь дим. Зараз цю функцію відключили
            </h2>
            <p>
                Днями користувачі reddit стали активно обговорювати функцію NVIDIA Freestyle для однойменних відеокарт. Її можна було налаштувати особливим чином, щоб бачити крізь димові гранати. Freestyle можна було користуватися два місяці, і про неї знали про-гравці. Тепер NVIDIA Freestyle більше не підтримує CS: GO. Про те, що сталося - в нашому матеріалі.
            </p>
            <p>
                9 січня 2018 року NVIDIA представила технологію Freestyle для програми GeForce Experience. NVIDIA Freestyle - утиліта, яка дозволяє експериментувати з шейдерами в різних іграх і домагатися різного зображення на екрані. Важливо: гра не розпізнавала її як чіт, тому що Freestyle запускалася поза клієнта і не втручалася в файли гри. Власник каналу HypeR_MK на Youtube вдало порівняв NVIDIA Freestyle з набором фільтрів Instagram.
            </p>
            <p>
                <img src="~/Content/images/news1_1.png" />
            </p>
            <p>
                NVIDIA Freestyle - набір кольорових фільтрів для ваших ігор.
                Користувачі NVIDIA Freestyle могли самостійно експериментувати з колірною гамою, різкістю і іншими параметрами. Як виявилося, певні настройки освітлювали темні кути на картах CS: GO, а інші розсіювали димові гранати .
            </p>
            <p>
                <img src="~/Content/images/news1_2.png" />
            </p>
            <p>
                6 березня Габріель FalleN Толедо жартома звернувся до учасника FPL Николе «Lobanjica» Мійомановічу, щоб той «допоміг SK Gaming з димами». Чорногорець відмовився і цілком резонно зауважив, що якщо цим будуть користуватися всі, то гра зламається. Жарти жартами, але виходить, що деякі про-гравці знали про цей експлойт і цілком могли ним користуватися.
            </p>
            <p>
                Як з'ясувалося, вже кілька днів NVIDIA Freestyle більше не підтримує CS: GO, а значить користуватися фільтрами для гри більше не можна.
            </p>
            <p>
                Проте сам експлойт все ще залишився - нічого не заважає написати подібну програму комусь іншому. Втім, чи потрібно це, коли в інтернеті за безцінь доступні більш просунуті чітерські програми?
            </p>
            <p>
                <a href="https://www.reddit.com/r/GlobalOffensive/comments/828qv4/new_nvidia_settings_help_you_look_through_fading/">Посилання на джерело</a>
            </p>
        </div>
        <div id="news2">
            <h2>
                Як пройшов 2017 рік у Steam
            </h2>
            <p>
                Засновник SteamSpy Сергій Галенкін підготував звіт про продажі і активності користувачів в Steam за 2017 рік. За його даними, в минулому році в сервісі зареєструвалося 63 млн осіб - 22% від загального числа акаунтів. Велика частина приросту - за рахунок PUBG і її китайських фанатів
            </p>
            <p>
                <img src="~/Content/images/news2_1.png" />
            </p>
            <p>Більше ніж будь-коли</p>
            <p>
                64% користувачів Steam - з Китаю, хоча офіційно доступ до сервісу в цій країні заборонено. З них лише 19% активно купують гри, а інші акаунти або занедбані, або використовуються в інтернет-кафе. Тому в Китаї набули 5,4% від загального числа товарів, проданих в Steam за 2017 рік. Як приклад Галенкін привів користувачів з США, які складають 13,9% від загальної аудиторії сервісу, - на них припадає 23,3% куплених ігор.
            </p>
            <p>
                <img src="~/Content/images/news2_2.png" />
            </p>
            <p>
                6 березня Габріель FalleN Толедо жартома звернувся до учасника FPL Николе «Lobanjica» Мійомановічу, щоб той «допоміг SK Gaming з димами». Чорногорець відмовився і цілком резонно зауважив, що якщо цим будуть користуватися всі, то гра зламається. Жарти жартами, але виходить, що деякі про-гравці знали про цей експлойт і цілком могли ним користуватися.
            </p>
            <p>
                Китай: 19,5% активних гравців і 5,4% від загального числа покупок в Steam
            </p>
            <p>
                Найбільший приріст геймерів з Китаю стався після релізу PUBG. До появи «королівської битви» від Bluehole Studio кількість користувачів Steam з цього регіону становило ~ 7%. При цьому китайці не купують багато ігор і в середньому витрачають по 16 годин на тиждень на PUBG.
            </p>
            <p>
                <img src="~/Content/images/news2_3.png" />
            </p>
            <p>Кількість китайських користувачів та ігор, які вони купують</p>
            <p>
                <img src="~/Content/images/news2_4.png" />
            </p>
            <p>Америка - 7 годин в тиждень, Китай - 16 годин на тиждень</p>
            <p>
                Сергій Галенкін також підрахував, який прибуток отримала Valve в Steam за 2017 рік. Він враховував тільки продажу окремих продуктів - без DLC і внутрішньоігрових покупок. Всього компанія виручила $ 4,3 млрд, а безумовним лідером рейтингу стала PUBG: вона розійшлася 27,7 млн копій і принесла $ 600 млн. На другому місці розташувалася CS: GO - в 2017 році шутер придбали 12,5 млн разів.
            </p>
            <p>
                <img src="~/Content/images/news2_5.png" />
            </p>

            <p>
                З повною версією звіту Сергія Галенкін можна ознайомитися за 
                <a href="https://www.reddit.com/r/GlobalOffensive/comments/828qv4/new_nvidia_settings_help_you_look_through_fading/">посиланням</a>.
            </p>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/script/news.js")
}
