@{
    ViewBag.Title = "Регламент";
}

<div>
    <div id="regulation-tabs">
        <ul>
            <li><a href="#reg-common">Загальний регламент</a></li>
            <li><a href="#reg-dota-2">Регламент Dota2</a></li>
            <li><a href="#reg-cs-go">Регламент CS: GO</a></li>
        </ul>
        <div id="reg-common">
            <h1>Студентські Спортивні Ігри з кіберспорту</h1>
            <h3>
                ПОЛОЖЕННЯ про змагання міжвузівської першості в рамках Української кіберспортивної Ліги
            </h3>
            <ol>
                <li>
                    <h5>Введення</h5>
                    <ol>
                        <li>Комп'ютерний спорт (далі - Кіберспорт) - інноваційний змагальний вид діяльності, і яскраве соціальне явище XXI століття. Кіберспорт має сьогодні величезне прикладне значення, розвиває особистість спортсмена (стратегію, тактику, реакцію, спеціальну моторику та інше) і доступний кожному. У багатьох країнах визнаний офіційно «видом спорту».</li>
                        <li>Даний турнір є офіційним змаганням Української кіберспортивної Ліги.</li>
                    </ol>
                </li>
                <li>
                    <h5>Мета та завдання турніру</h5>
                    <ol>
                        <li>
                            Турнір проводиться з метою:
                            <ol>
                                <li>Розвитку масового кіберспорту серед студентської молоді.</li>
                                <li>Пропаганди здорового способу життя та занять кіберспорту серед студентської молоді.</li>
                                <li>Організації активного дозвілля студентської молоді.</li>
                            </ol>
                        </li>
                        <li>
                            Завдання:
                            <ol>
                                <li>Об'єднання студентської молоді України.</li>
                                <li>Створення комплексу кіберспортивних змагань для студентів, що навчаються у вищих навчальних закладах України.</li>
                                <li>Виявлення найсильніших студентів-кіберспортсменів України.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>Організатор турніру</h5>
                    <ol>
                        <li>Компанія <b>CSL</b></li>
                    </ol>
                </li>
                <li>
                    <h5>Формат турніру</h5>
                    <ol>
                        <li>
                            Першість між ВНЗ буде розбито на 3 етапи.
                            <ol>
                                <li>Внутрішні відбіркові змагання у ВНЗ - охочих взяти участь в основному сезоні. Етап проходить в період з 19 березня по 15 квітня (включно) 2018 року. Метою етапу є виявлення кращих спортсменів всередині ВНЗ та формування збірних вищих навчальних закладів.</li>
                                <li>Дивізійний і фінальний етапи турніру будуть проходити з 21 квітня по 27 травня 2018 року.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>Регламент турніру</h5>
                    <ol>
                        <li>
                            Регламент внутрішніх відбіркових змагань у ВНЗ.
                            <ol>
                                <li>Дати проведення: внутрішні відбіркові змагання у ВНЗ повинні бути проведені в період з 19 березня по 15 квітня 2018 року. Точні дати, а також детальний розклад відбіркових змагань залишаються на розсуд відповідальної особи за збірну кожного з ВНЗ.</li>
                                <li>Внутрішні відбіркові змагання можуть проходити паралельно в декількох ВНЗ.</li>
                                <li>До участі у внутрішніх відбіркових змаганнях всередині ВНЗ можуть бути допущені тільки студенти відповідного ВНЗ.</li>
                                <li>Для проведення внутрішніх відбіркових змагань, можуть використовуватися, як технічна база ВНЗ (приміщення, обладнані персональними комп'ютерами на території ВНЗ, надані для змагань за погодженням з адміністрацією ВНЗ), так і домашні ПК студентів. Формат проведення залишається на розсуд відповідальної особи за збірну кожного з ВНЗ.</li>
                                <li>Під час проведення відбіркових змагань, відповідальні особи за збірну ВНЗ зобов'язані вести турнірні таблиці на сайті <b>ucsl.gg</b>, по кожній з офіційних дисциплін внутрішніх відбіркових змагань у ВНЗ. Всі учасники відбіркових змагань зобов'язані бути зареєстровані на сайті <b>ucsl.gg</b>.</li>
                                <li>Офіційні дисципліни внутрішніх відбіркових змагань: Dota 2, Counter-Strike: GO.</li>
                                <li>Внутрішні відбіркові змагання з кожної з дисциплін, проводяться відповідно до офіційних правил.</li>
                                <li>
                                    Вимоги щодо допуску учасників:
                                    <ol>
                                        <li>Відповідно до вимог, до участі в змаганнях допускаються команди: освітніх організацій вищої освіти, укомплектовані з-поміж студентів, аспірантів, курсантів і слухачів військових освітніх організацій, клінічних ординаторів та докторантів денного (очної й заочної) навчання (в т.ч. іноземних), випускників останнього року (до кінця цього навчального року). Вік учасників змагань не повинен перевищувати 28 років на момент початку проведення змагань.</li>
                                        <li>Мінімальний вік учасників змагань - 16 років, на момент проведення.</li>
                                        <li>Спортсмен може брати участь в змагання тільки в одній з дисциплін.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Регламент дивізійного етапу турніру
                            <ol>
                                <li>
                                    Учасники основного сезону: Збірні команди ВНЗ України.
                                    <ol>
                                        <li>
                                            Склад збірної кожного ВНЗ містить:
                                            <ul>
                                                <li>1 людина - відповідальна особа за збірну ВНЗ;</li>
                                                <li>0-1 чоловік - заступник відповідального особи за збірну ВНЗ;</li>
                                                <li>5-7 чоловік - команда в дисципліні Counter-Strike: GO;</li>
                                                <li>5-7 чоловік - команда в дисципліні Dota2.</li>
                                            </ul>
                                        </li>
                                        <li>Всі гравці збірних ВНЗ зобов'язані бути зареєстровані на сайті <b>ucsl.gg</b>.</li>
                                        <li>Відповідальні особи за збірну ВНЗ, повинні надати іменну заявку в електронному вигляді з документами на участь.</li>
                                    </ol>
                                </li>
                                <li>Максимальна кількість ВНЗ учасників: 32.</li>
                                <li>Кількість дивізіонів в ході етапу: 4.</li>
                                <li>Кількість збірних ВНЗ в одному дивізіоні: до 8.</li>
                                <li>Система проведення дивізійного етапу турніру в кожному з дивізіонів буде залежати від кількості учасників.</li>
                                <li>Місце проведення дивізійного етапу турніру буде анонсовано по закінченню внутрішніх відбіркових змагань у ВНЗ.</li>
                                <li>
                                    Дати проведення дивізійних етапів: весна 2018 рік.
                                    <ol>
                                        <li>Точна дата і час проведення кожної із зустрічей будуть опубліковані на офіційному сайті турніру - <b>ucsl.gg</b>.</li>
                                    </ol>
                                </li>
                                <li>Місце проведення, дати і час кожної із зустрічей може бути змінено на розсуду організаторів. Інформація про актуальні зміни буде опублікована на офіційному сайті турніру не пізніше, ніж за 5 робочих днів, до відповідної зустрічі.</li>
                                <li>
                                    Заміни:
                                    <ol>
                                        <li>
                                            Заміни в збірній команді ВНЗ протягом дивізійного етапу турніру можливі
                                            тільки в разі, коли один, або більше гравців - перестали бути студентами
                                            відповідного навчального закладу.
                                        </li>
                                        <li>
                                            У разі заміни одного, або більше гравців в складі збірної ВНЗ,
                                            відповідальна особа відповідного ВНЗ, зобов'язана негайно проінформувати
                                            оргкомітет про заміну, повідомивши всі необхідні дані вибулого і прибув гравців.
                                        </li>
                                        <li>
                                            Гравці, включені до складу збірної ВНЗ протягом дивізійного етапу, не
                                            можуть брати участь у зустрічі, що проводиться протягом 48 годин з моменту
                                            заміни.
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Регламент зустрічі всередині дивізійного етапу турніру.
                            <ol>
                                <li>
                                    Учасниками кожної із зустрічей основного сезону турніру є збірні двох ВНЗ,
                                    що беруть участь в основному сезоні турніру.
                                </li>
                                <li>
                                    У список гравців, які грають в окремо взятій зустрічі (далі – лайн-ап) від
                                    кожної збірної повинні входити: 5 гравців в дисципліні Dota2, 5 гравців в дисципліні
                                    Counter-Strike: GO.
                                </li>
                                <li>
                                    У лайн-апі  збірної кожного з ВНЗ в рамках окремо взятої зустрічі можуть
                                    входити виключно гравці складу збірної відповідного ВНЗ.
                                </li>
                                <li>Заміни в ході зустрічі заборонені.</li>
                            </ol>
                        </li>
                        <li>
                            Регламент фінального етапу турніру.
                            <ol>
                                <li>
                                    Учасники фіналу сезону: 8 кращих збірних команд ВНЗ України (команди, які
                                    посіли 1 місця в своїх групах, автоматично потрапляють до фінальної частини змагань; команди, які
                                    посіли 2-3 місця відповідно в кожній групі, розігрують між собою ще 4 путівки до фінальної
                                    частини змагань).
                                    <ol>
                                        <li>
                                            Склад збірної кожного ВНЗ включає себе:
                                            <ul>
                                                <li>1 людина - відповідальна особа за збірну ВНЗ;</li>
                                                <li>0-1 чоловік - заступник відповідального особи за збірну ВНЗ;</li>
                                                <li>5-7 чоловік - команда в дисципліні Counter-Strike: GO;</li>
                                                <li>5-7 чоловік - команда в дисципліні Dota2.</li>
                                            </ul>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>Нагородження переможців</h5>
                    <ol>
                        <li>Гравці збірних ВНЗ, які посіли з першого по третє місце, будуть нагороджені медалями, дипломами, а також цінними призами від наших партнерів.</li>
                        <li>ВНЗ, збірна якого, займе перше місце, буде нагороджений кубком і грошовим призом.</li>
                    </ol>
                </li>
                <li>
                    <h5>Остаточні положення</h5>
                    <ol>
                        <li>Всі додатки є обов'язковою частиною положення.</li>
                    </ol>
                </li>
            </ol>
            <h3>
                Форма і порядок участі студентської першості
            </h3>
            <ol>
                <li>
                    <h5>Для гравців</h5>
                    <ol>
                        <li>
                            Якщо ви є студентом Українського інституту, є гравцем в одній з наступних дисциплін - Dota2, Counter-Strike: GO, і хочете взяти участь в студентської першості, Вам необхідно:
                            <ol>
                                <li>В період з 19 по 30 березня зв'язатися з відповідальною особою за збірну Вашого ВНЗ та направити заявку для участі у внутрішніх відбіркових змаганнях Вашого ВНЗ згідно з установленим порядком всередині ВНЗ.</li>
                                <li>Якщо Ви не знаєте, як зв'язатися з відповідальною особою за збірну Вашого ВНЗ або не впевнені в наявності такого, ви можете надіслати листа до оргкомітету, за адресою <a href="mailto:ucsl.gaming@gmail.com">ucsl.gaming@gmail.com</a>. В темі листа необхідно вказати: «УКСЛ (назва ВНЗ) гравець».</li>
                                <li>
                                    У разі якщо в Вашому ВНЗ відсутня відповідальна особа, і ви бажаєте виступити в якості інакшого, готові провести відбіркові змагання всередині Вашого ВНЗ з метою формування збірної, необхідно направити лист в оргкомітет, за адресою <a href="mailto:ucsl.gaming@gmail.com">ucsl.gaming@gmail.com</a>.
                                    В темі листа необхідно вказати «УКСЛ (назва ВНЗ) заявка на роль відповідальної особи збірної». У тілі самого листа необхідно вказати:
                                    <ul>
                                        <li>Повна назва Вашого ВНЗ</li>
                                        <li>Скорочена назва Вашого ВНЗ</li>
                                        <li>Ваші ПІБ</li>
                                        <li>Ваш e-mail</li>
                                        <li>Ваш skype (якщо такий є)</li>
                                        <li>Ваш контактний номер телефону.</li>
                                    </ul>
                                    Протягом 24 годин з Вами зв'яжуться за телефоном. Якщо цього не станеться, Вам слід продублювати листа.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>Для відповідальних осіб збірним ВНЗ</h5>
                    <ol>
                        <li>У період з 16 лютого по 4 березня (включно) 2018 року, Вам необхідно провести внутрішні відбіркові змагання у ВНЗ, або ж зібрати збірну з даної дисципліни.</li>
                        <li>До внутрішніх відбіркових змагань всередині ВНЗ повинні бути допущені всі студенти Вашого ВНЗ, які зв'язалися з вами з цього питання.</li>
                        <li>
                            Якщо наші спікери, не відвідали ще ваш ВНЗ, а Ви хотіли б взяти участь, Вам необхідно сформувати збірну команду Вашого ВНЗ та направити лист до оргкомітету плюс заявку, за адресою <a href="mailto:ucsl.gaming@gmail.com">ucsl.gaming@gmail.com</a>.
                            В темі листа необхідно вказати: «УКСЛ (назва ВНЗ) заявка на участь».
                            У тілі листа необхідно вказати склад, а також скріншоти з результатами внутрішніх відбіркових змагань у Вашому вищому навчальному закладі. Також, після схвалення, необхідно заповнити пройти реєстрацію на ресурсі ucsl.gaming@gmail.com і заповнити всі форми.
                        </li>
                    </ol>
                </li>
            </ol>
            <h3>
                Доповнення до основних правил
            </h3>
            <ol>
                <li>
                    <h5>Основні положення матчів</h5>
                    <ol>
                        <li>Діалог з адміністрацією турніру від імені своєї збірної веде відповідальний від ВНЗ, перед матчами капітан з відповідної дисципліни або особа, яка його замінює.</li>
                        <li>Гравці зобов'язані грати під ніками, які вказані в заявці, в ніках або назві команди має бути присутня абревіатура ВНЗ.</li>
                        <li>Будь-які спроби махінацій заради перемоги будуть строго переслідуватися і каратися. Не створюйте конфліктів з противниками та організаторами. Грайте собі на втіху і набирайтеся необхідного ігрового досвіду. Вітається тільки спортивна поведінка, повага до противників і адміністрації.</li>
                    </ol>
                </li>
                <li>
                    <h5>Методи перевірки студентів під час online-змагань</h5>
                    <ol>
                        <li>За 1-2 дні до матчу відповідальний від ВНЗ повинен повідомити головному судді все "steam ID" та уточнити місця, з яких гратимуть члени складів (в разі гри з будинків бажано вказівку провайдера, якщо гра ведеться з інтернет-кафе - інші способи підтвердження, наприклад чек про покупку ігрового часу / фото гравця в клубі перед грою). Дана вимога є обговорюваних, в разі пропозиції інших підтверджень проблем не виникне.</li>
                        <li>Під час ігор все steam-акаунти повинні бути відкриті, телефони доступні.</li>
                        <li>Крім зазначених вище пунктів, на сервері буде вестися VAC і ЕАС перевірка. Так само на матчі будуть присутні судді.</li>
                    </ol>
                </li>
                <li>
                    <h5>Налагодження контакту з суддями та противниками</h5>
                    <ol>
                        <li>За 1-2 дні до матчу відповідальному від ВНЗ і капітанам необхідно зв'язатися з головним суддею. Він створить skype-конференцію, де буде відбуватися основний діалог. У разі неможливості зв'язатися з головним суддею, слід зв'язатися з одним із суддів. Альтернативний варіант - TeamSpeak-канал. Саме тут буде обговорюватися вся інформація, пов'язана з майбутньою грою (карти, сервери та інше). Тут буде позначено, хто створює лобі, пароль і буде проведена процедура вибору сторони й піку / черговості вибору карт.</li>
                        <li>Після завершення матчу обидві команди зобов'язані повідомити про його підсумки головному судді, приклавши скріншоти матчів і вказавши переможця.</li>
                    </ol>
                </li>
                <li>
                    <h5>Попередження і покарання</h5>
                    <ol>
                        <li>Кожне порушення буде розглянуто колегією суддів окремо. До розгляду буде притягнутий гравець, викритий у порушенні, також капітан і відповідальний ВНЗ (в разі серйозності порушення). При командному порушенні діалог вестиметься з капітаном і відповідальним.</li>
                        <li>Ступінь тяжкості покарання вирішується суддівською колегією і буде варіюватися від неможливості вибору карт / втрати бонус тайму до заборони гри якомусь гравцеві та навіть до бана ВНЗ на наступний сезон з повідомленням про це керівництву ВНЗ.</li>
                        <li>Всі гравці зобов'язані беззаперечно виконувати рішення адміністрації з тих чи інших питань.</li>
                        <li>Рішення суддівської колегії оскарженню не підлягає.</li>
                        <li>Адміністрація турніру має право змінювати та доповнювати ці правила в будь-який час на свій розсуд</li>
                    </ol>
                    <table>
                        <caption>Контакти головного судді</caption>
                        @*<thead>
                            <tr>
                                <th>Суддя</th>
                                <th>Skype</th>
                                <th>Телефон</th>
                            </tr>
                        </thead>*@
                        <tbody>
                            <tr>
                                <td>Телефон</td>
                                <td></td>
                                @*<td></td>*@
                            </tr>
                            <tr>
                                <td>Skype</td>
                                <td></td>
                                @*<td></td>*@
                            </tr>
                            <tr>
                                <td>Контакти судді №1</td>
                                <td></td>
                                @*<td></td>*@
                            </tr>
                            @*<tr>
                                <td>№3</td>
                                <td></td>
                                <td></td>
                            </tr>*@
                        </tbody>
                    </table>

                </li>
                <li>
                    <h5>POV-записи</h5>
                    <ol>
                        <li>Кожен учасник зобов'язаний проводити POV-запис. Команди має право вимагати від супротивників записи POV-демо. Команда, у якій запросили POV-демо повинна надати їх в загальній кількості. Ця вимога має бути висловлено ДО початку гри (кожної з ігрових карт). Після запуску матчу вимагати ви вже не можете.</li>
                        <li>У випадку, якщо POV-демо вам не були надані, не дивлячись на вимогу - повідомте про порушення адміністрації турніру, приклавши відповідні докази у вигляді скріншотів. Всі проблеми, які можуть перешкодити вам записати POV, повинні бути усунені до початку турніру.</li>
                        <li>Не зважаючи на будь-які підозри - ви повинні відіграти матчі до кінця. Навіть якщо ваш противник на вашу думку використовував чіти, вам буде зараховано поразку, якщо ви покинули гру, не завершивши її.</li>
                        <li>Ви повинні надати розписаний за часом список моментів з доказами про використання командою противника читов - розписаний вашою думкою і підкріплений доказами (аргументами) в відеоформаті. Для прийняття рішення на вашу користь потрібно докласти не менше трьох гарантованих моментів.</li>
                        <li>Всі висновки суб'єктивні й рішення завжди приймається суддями ліги. Чим більше моментів ви запропонуєте і чим правдивіше вони будуть - тим більше шансів на те, що ваша вимога буде почуто.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="reg-dota-2">
            <h3>
                Загальні правила проведення змагань по Dota2
            </h3>
            <ol>
                <li>
                    <h5>Загальна інформація</h5>
                    <ol>
                        <li>Версія гри: ліцензійна "Dota2" останньої версії.</li>
                        <li>Матчі в груповому етапі проходять по системі best of one (до однієї перемоги).</li>
                        <li>Матчі в стадії плей-офф проходять по системі best of three (до двох перемог).</li>
                        <li>Первинна комунікаційна платформа - скайп. Як мінімум, один член кожної команди повинен бути доступний.</li>
                        <li>Кожна команда приймає офіційний розклад змагань і заявляє про свій здатності бути доступною в цей час.</li>
                    </ol>
                </li>
                <li>
                    <h5>Команди гравці</h5>
                    <ol>
                        <li>Команда повинна складатися як мінімум з п'яти учасників.<br><span style="font-style: italic;">Примітка. Адміністрація настійно рекомендує скласти список з 6 або 7 гравців. Несподівані проблеми для одного гравця не є вагомою причиною відстрочки матчів.</span></li>
                        <li>Гравець може грати тільки за той університет, в якому навчається.</li>
                        <li>Всі учасники в обов'язковому порядку, повинні мати повний профайл на сайті <b>ucsl.gg</b>.</li>
                    </ol>
                </li>
                <li>
                    <h5>Формат проведення матчів</h5>
                    <ol>
                        <li>У грі беруть участь 2 команди по 5 чоловік у кожній.</li>
                        <li>Creepskip дозволений («спелами» стопити «кріп» можна).</li>
                        <li>Backdoor - дозволений всіх «веж».</li>
                        <li>
                            Ігрові настройки при використанні російського клієнта:
                            <ul>
                                <li>Режим гри: Режим Капітанів</li>
                                <li>Версія: Турнірна</li>
                                <li>Розташування сервера: Люксембург</li>
                                <li>Дозволити спостереження - заборонити</li>
                                <li>Наявність тренера - дозволено</li>
                            </ul>
                        </li>
                        <li>
                            Ігрові настройки при використанні англійської клієнта:
                            <ul>
                                <li>Game mode: Captains Mode</li>
                                <li>Version: Tournament</li>
                                <li>Server Location: Luxembourg</li>
                                <li>Spectators - disabled</li>
                                <li>Coach - enabled</li>
                            </ul>
                        </li>
                        <li>Якщо командам не зручно грати на дефолтних сервері - вони можуть домовитися, які влаштовують їх.</li>
                        <li>Перемагає команда, що знищила трон противника, або змусила команду противника покинути гру.</li>

                    </ol>
                </li>
                <li>
                    <h5>Заборонено</h5>
                    <ol>
                        <li>Будь-які дії, що суперечать цим Правилам, а також Правилам гри Dota2.</li>
                        <li>Використання «багів» карти.</li>
                        <li>Передача Divine Rapier за допомогою суїциду або смерті від Roshan або «кріп» (ворожих і / або нейтральних) заборонена. Також заборонена передача подібним чином трофейної Divine Rapier.</li>
                        <li>Знаходження в грі сторонніх осіб.</li>
                        <li>Образи на адресу супротивників, «тіммейтов» та інших учасників змагань.</li>
                        <li>«Флуд» в чат.</li>
                        <li>Неспортивну поведінку (наприклад, саботування матчів).</li>
                        <li>Використання заборонених програм.<ol><li>Використання будь-якого інструменту, пов'язаного з Dota, за виключення Steam і Dota 2 під час матчу, суворо заборонено.</li></ol></li>
                    </ol>
                </li>
                <li>
                    <h5>Паузи в грі</h5>
                    <ol>
                        <li>Встановлено ліміт паузи в 5 хвилин. Кожна з команд може використовувати 2 паузи за 1 матч.</li>
                        <li>Якщо противник перевищив цей час - анпаузіть без повідомлення та їх дозволу не можна. Необхідно повідомити їм про порушення, а так само повідомити суддю.</li>
                    </ol>
                </li>
                <li>
                    <h5>Дисциплінарні санкції</h5>
                    <ol>
                        <li>За порушення будь-якого з правил, судді залишають за собою право призначити команді технічну поразку, або винести офіційне попередження.</li>
                        <li>Повторне попередження в ході матчу - завжди веде до технічної поразки.</li>
                    </ol>
                </li>
                <li>
                    <h5>Технічні проблеми</h5>
                    <ol>
                        <li>При дисконнект всіх (!) Гравців з сервера призначається перегравання, піки й бани залишаються такі ж, як до дисконнекта.</li>
                        <li>При дисконнект одного або декількох гравців з команди, ставиться пауза на термін не менше 5-ти хвилин.</li>
                        <li>При дисконнект всіх гравців з однієї команди, при тривалості гри понад 10 хвилин з різницею в рахунку не більш як 5 очок - призначається перегравання при тих же піках.</li>
                        <li>При дисконнект всіх гравців з однієї команди, при тривалості гри понад 15 хвилин переможця гри виявляє суддя турніру з «вежам», кількістю знищених героїв і gpm, або ж призначає перегравання.</li>
                        <li>При вильоті пікера команди під час вибору і бана героїв і неможливості швидкого його перепідключення (втрата хоча б одного усвідомленого бана або вибору героя), лобі матчу створюється заново. При цьому пікером повинні будуть повторити всі зроблені до моменту вильоту піки й бани.</li>
                    </ol>
                </li>
                <li>
                    <h5>Порядок розгляду апеляцій</h5>
                    <ol>
                        <li>Всі претензії щодо порушення правил гри проводиться протягом 5 хвилин після закінчення матчу. Претензію судді повинен озвучувати капітан команди, а не гравці.</li>
                        <li>Рішення Судді по будь-якій ситуації, включаючи не описані в цих правилах, є остаточними й обговоренню не підлягають.</li>
                        <li>Обговорення остаточного рішення по будь-якій ситуації, прийнятого суддею Турніру, є причиною присудження технічної поразки на поточній карті або в матчі в цілому.</li>
                    </ol>
                </li>
                <li>
                    <h5>Правовий процес</h5>
                    <ol>
                        <li>Судові розгляди не допускаються.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="reg-cs-go">
            <h3>
                Загальні правила проведення змагань по CS: GO
            </h3>
            <ol>
                <li>
                    <h5>Загальна інформація</h5>
                    <ol>
                        <li>Версія гри: ліцензійний "Counter strike: Global Offensive" останньої версії.</li>
                        <li>Матчі в груповому етапі проходять по системі best of one (до однієї перемоги).</li>
                        <li>Матчі в стадії плей-офф проходять в кілька етапів: 1 тур проходить по системі best of one (до однієї перемоги); 2 тур і наступні проходять по системі best of three (до двох перемог).</li>
                        <li>Офіційні карти: de_nuke, de_mirage, de_train, de_inferno, de_overpass, de_cobblestone, de_cache.</li>
                        <li>
                            Вибір карт визначається «викреслюванням»: Капітани команд по черзі викреслюють зі списку карт по одній карті. У разі «best of one» остання карта, яка залишиться, буде зіграна в матчі. У разі «best of three» останні три карти - є тими, які можуть бути зіграні в матчі.
                            <ol>
                                <li>Капітан команди, яка виграла жереб («монетку»), визначає хто викреслює карти першим.</li>
                                <li>Першу карту, яка буде зіграна в матчі, вибирає капітан, який перший викреслював карти.</li>
                                <li>Вибір боку на кожній з карт визначається ножовим раундом.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                @*<li>
                    <h5>Команди гравці</h5>
                    <ol>
                        <li>Команда повинна складатися як мінімум з п'яти учасників.<br><span style="font-style: italic;">Примітка. Адміністрація настійно рекомендує скласти список з 6 або 7 гравців. Несподівані проблеми для одного гравця не є вагомою причиною відстрочки матчів.</span></li>
                        <li>Гравець може грати тільки за той університет, в якому навчається.</li>
                        <li>Всі учасники в обов'язковому порядку, повинні мати повний профайл на сайті УКСЛ.</li>
                    </ol>
                </li>*@
                <li>
                    <h5>Формат проведення матчів</h5>
                    <ol>
                        <li>У грі беруть участь 2 команди по 5 чоловік у кожній.</li>
                        <li>Гра складається з 2-х періодів по 15 раундів. Тривалість кожного раунду становить 1:45.</li>
                        <li>Все турнірні сервери використовують конфіг - esl5on5.cfg, останньої версії.</li>
                        <li>Перемагає команда, яка перша набере 16 раундів за 2 сторони.</li>
                        <li>
                            У разі якщо після закінчення 2-х періодів команди мають рівну кількість виграних раундів, призначається 2 додаткових періоди по 3 раунди - овертайм.
                            <ul>
                                <li>У разі нічийного рахунку після двох додаткових періодів, призначаються нові овертайми, і так до визначення переможця;</li>
                                <li>Сторони в овертаймі не вибирають. Перший овертайм команди починають за ті ж сторони, що і на початку гри. Другий - за ті сторони, за які були зіграні в другому періоді першого овертайму. У третьому овертаймі - все як у першому, в четвертому - як у другому та інше;</li>
                                <li>Переможцем в овертаймі є команда, яка перша набере 4 раунди.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>
                    <h5>Заборонено</h5>
                    <ol>
                        <li>Будь-які дії, що суперечать цим Правилам, а також Правилам гри Counter-Strike: Global Offensive.</li>
                        <li>Образи на адресу супротивників, «тіммейтов» та інших учасників змагань.</li>
                        <li>«Флуд» в чат.</li>
                        <li>Неспортивну поведінку (наприклад, саботування матчів).</li>
                        <li>Використання заборонених програм.</li>
                    </ol>
                </li>
                <li>
                    <h5>Дисциплінарні санкції</h5>
                    <ol>
                        <li>За порушення будь-якого з правил, судді залишають за собою право призначити команді технічну поразку, або винести офіційне попередження.</li>
                        <li>Повторне попередження в ході матчу - завжди веде до технічної поразки.</li>
                    </ol>
                </li>
                <li>
                    <h5>Технічні проблеми</h5>
                    <ol>
                        <li>У разі виникнення технічних проблем в одній з команд в ході матчу, гравці зобов'язані зупинити гру або на початку поточного раунду (freeze time), або по його завершенню і звернутися до судді за подальшими інструкціями. Претензії по закінченню матчу - розглянуті не будуть.</li>
                    </ol>
                </li>
                <li>
                    <h5>Порядок розгляду апеляцій</h5>
                    <ol>
                        <li>Всі претензії щодо порушення правил гри проводиться протягом 5 хвилин після закінчення матчу. Претензію судді повинен озвучувати капітан команди, а не гравці.</li>
                        <li>Рішення Судді по будь-якій ситуації, включаючи не описані в цих правилах, є остаточними й обговоренню не підлягають.</li>
                        <li>Обговорення остаточного рішення по будь-якій ситуації, прийнятого суддею Турніру, є причиною присудження технічної поразки на поточній карті або в матчі в цілому.</li>
                    </ol>
                </li>
                <li>
                    <h5>Правовий процес</h5>
                    <ol>
                        <li>Судові розгляди не допускаються.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/script/regulation.js")
}
