@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокований";
}

<hgroup>
    <h1 class="text-danger">Заблокований.</h1>
    <h2 class="text-danger">Цей обліковий запис заблоковано, спробуйте пізніше.</h2>
</hgroup>
